<!DOCTYPE html>
<html lang="fr" style="height:100%;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/menu.css">
	<style type="text/css">
		.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
	</style>
</head>

<body class="container" >
		<script src="../scripts/vue/vue.js"></script>
		<script src="../scripts/directives.js"></script>
		<script src="../scripts/jquery/jquery-3.5.1.min.js"></script>

<div id="main">

	<table>
			<tr>
				<th>catégorie</th>
				<th>sous-catégorie</th>
				<th>code</th>
				<th>nom</th>
				<th>description</th>
				<th>prix</th>
				<th>quantité</th>
				<th>image</th>
			</tr>

			<tr v-for="(e,i) in products">
					<td><input type="text" v-model="e.category"></td>
					<td><input type="text" v-model="e.sub_category"></td>
					<td><input type="text" v-model="e.product" style="width: 100px;"></td>
					<td><input type="text" v-model="e.label"></td>
					<td><input type="text" v-model="e.description"></td>
					<td><input type="number" step=".01" v-model="e.price" style="text-align: right; width: 75px;"></td>
					<td><input type="number"  v-model="e.units" style="width: 50px; text-align: right;"></td>
					<td>
						<span class="fa fa-picture-o" style="cursor: pointer;" v-show="typeof e.picture_url == 'undefined' || e.picture_url == ''" @click="newPicture(i)">
						</span>
						<img :src="pictureUrl(i)"  style="width:25px;cursor: pointer;" v-show="full_size != i && pictureUrl(i) != '' " @click="showPicture(i)">
						<img :src="pictureUrl(i)"  style="width:200px;" v-show="full_size == i && pictureUrl(i) != '' " @click="hidePicture(i)">
						<table width="100%" v-show="full_size == i">
							<tr>
								<td style="text-align: left;"><input type="button" value="changer" @click="changePicture(i)"></td>
								<td style="text-align: right;"><input type="button" value="enlever" @click="removePicture(i)"></td>
							</tr>
						</table>
					</td>
			</tr>

			<tr>
				<td><input type="button" value="ajouter" @click="newProduct"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
	</table>

	<br>
	<br>
	<input type="button" value="enregistrer" @click="saveList">

		<br>
		<br>
		selected line {{ selected_line }}
	<form action="../bin/upload-picture" method="post" enctype="multipart/form-data" id="picture-form">
		<label class="custom-file-upload" >
			<input type="file" name="filetoupload" id="filetoupload" style="display:none;">
		nouvelle image
	</label>
		<Br>
			<input type="button" value="save" @click="uploadPicture">
	</form>


</div>

	<script src="./scripts/menu-edit.js"></script>


	
</body>

</html> 
